appdirs==1.4.4
asgiref==3.2.10
backcall==0.2.0
colorama==0.4.3
decorator==4.4.2
distlib==0.3.1
Django==3.1
filelock==3.0.12
gunicorn==20.0.4
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
mysql-connector-python==8.0.21
numpy==1.19.1
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.7
protobuf==3.13.0
Pygments==2.6.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
traitlets==5.0.4
virtualenv==20.0.31
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
whitenoise==5.2.0
